.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav div, .nav a {
    text-decoration: none;
    background-color: var(--dark-color);
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.1em;
}

.nav a {
    text-decoration: none;
}

.nav div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav a:hover {
    background-color: var(--light-color);
    color: var(--text-color);
}