@import '../../colors.css';

div .plant-profile {
    width: 200px;
    background-color: var(--dark-color);
    padding: 2px 20px 8px 20px;
    border-radius: 10px;
    margin: 20px;
}

div .plant-profile-header {
    align-items: baseline;
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
}

.plant-profile h2 {
    color: var(--background-color);
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plant-profile p {
    color: var(--dark-background-color);
    margin: 5px 0;
}

.plant-profile button {
    background-color: var(--dark-color);
    color: var(--dark-background-color);
    margin-top: 10px;
    width: 100%;
}

.plant-profile button:hover {
    background-color: var(--light-color);
    color: var(--light-text-color);
}