@import '../../colors.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 5px 25px;
    color: var(--background-color);
    border-radius: 0 0 10px 10px;
    margin : 0 1%;
}

.header h1 {
    margin: 0;
    font-size: 1.8em;
    color: var(--background-color);
}

