@import '../../colors.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 0px 25px;
    color: var(--background-color);
    border-radius: 0 0 10px 10px;
    margin : 0 1%;
    height: 80px;
}

.logo, .logo:hover {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    color: var(--background-color);
    background-color: var(--color-dark);
    text-decoration: none;
}

.header-left {
    display: flex;
    align-items: center;
}
