a.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    color: var(--dark-color);
    background-color: var(--dark-background-color);
    border-radius: 10px;
    border: 2px solid var(--border-color);
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

a.add-button:hover {
    cursor: pointer;
    background-color: var(--dark-background-color);
    text-shadow: 0px 0px 6px var(--dark-color);
    transition: all 0.3s ease;
}